{% load static %}
<link rel="stylesheet" href="{% static 'authentication/custom.css' %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <title>Form</title>
  </head>
  <body>

  <br/>

  <div class="navbar_box">
    <a href="/" class="paper-btn btn-info">Home</a>
    <a href="{% url 'journal' %}" class="paper-btn btn-info">Your Journal</a>
  </div>
      <div class="container">
        <div class="row form_box">
          <form method="post">
            <div>
              {% csrf_token %} {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary submit_btn">Submit</button>
          </form> 
        </div>
      </div>

  </body>
</html>