{% extends 'base.html' %}
{% block content %}
<style>
  #panel, #flip {
  padding: 5px;
  text-align: center;
 
}
  #flip{
    cursor: pointer;
  }
  #panel {
  padding: 50px;
  display: none;
}

#fas fa-hand-spock{

}
.navbar_box {
  margin-top: 10px;
  margin-left: 10px;
}
img {
  height: 450px;
  width: 500px;
}
.article_container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
 .col {
  height: 89vh;
  width: 49vw;
}
.image_column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_image {
  border: 2px solid gray;
  margin-top: -50px;
  height: 500px;
  width: 500px;
}
.author-text {
  font-weight: bold;
  color: #0071de;
}
.comment-button {
  height: 59px;
  width: 125px;
  margin-right: 250px !important;
}
button, button:hover, button:active {
  background-color: white !important;
}

</style>

<div class="container-fluid margin-left-medium"> 
  <div class="navbar_box">
    {% if user.is_authenticated %}
    <a href="/home" class="paper-btn btn-info">Home</a>
    <a href="{% url 'blog' %}" class="paper-btn btn-info">Back to Blog</a>
    {% else %}
    <a href="/home" class="paper-btn btn-info">Home</a>
    <a href="{% url 'blog' %}" class="paper-btn btn-info">Blog</a>
    {% endif %}
  </div>
</div>

<div class="row article_container">
   <div class="col">
       <article class="article">
        <h1 class="article-title">{{results.title}}</h1>
        <p class="author-text">Written by {{results.author|capfirst}} {{results.list_date| timesince}} ago</a></p>
        <p>{{results.body}}</p>
        {% if post.author.id  != request.user.id %}
        <div>
          <a class="paper-btn btn-info" href="/upvote/{{results.id}}/"><i class="fas fa-hand-spock"></i> Likes  {{results.likes}}</a>
        </div>
        <br>
        <a href="/comment/{{results.id}}/" class="paper-btn btn-info">Make a Comment</a>
        {% else %}
        <button><i class="fas fa-hand-spock"></i> Likes: {{results.likes}} </button>
        {% endif %}
        <button id="flip" class="comment-button"> {{comments.count}} Comment{{comments.count|pluralize}}</button>
        <div class="container-fluid my-container" id="panel">
          <div class="row">
            {% for post in comments %}
                <div class="card margin-small display-card">
                      <div class="card-body">
                          <h4 class="card-title">{{ post.title}}</h4>
                          <h5 class="card-subtitle">Created by {{ post.author }} {{post.created_date| timesince}} ago</h5>
                          <p class="card-text">{{post.context}}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>

    </article>
   </div>

   <div class="col image_column">
      {% if results.blog_image %}
      <img
      src="{{results.blog_image.url}}"
      alt="Blog Image" 
      class="blog_image"
      />
      {% else %}
      <h1>
      No Image
      </h1>
      {% endif %}
   </div>

</div>



<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});
</script>

{% endblock  %}