{% extends 'base.html' %}
{% load static %}

{% block  content %}
<style>
    .container-fluid{
        display: flex;
        justify-content: center;
    }
    .my-container{
        padding: 10px;
    }
    .display-card{
        color: #fff;
    }
    .display-card a{
        color: #fff;
        text-decoration: none;
        transition: all 1s ease-in;
        {% comment %} transition: transform 1s ease-in; {% endcomment %}
    }
    .header_container {
        height: 200px !important;
    }
    .carousel {
        width: 100%;
        height: 500px;
    }
    .card-title {
        text-align: center;
    }
    .search-button {
        width: 100%;
    }
    .search-input {
        color: black;
        
    }
    .search_container {
        width: 100%;
        margin-top: -20px;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card_container {
        margin-top: -50px;
        height: 470px !important;
        width: 325px !important;
        border: 8px solid rgb(29, 28, 28);
    }
    .card_buttons {
        display: flex;
    }
    .card-box {
        position: relative;
        background: black;
        height: 350px !important;
        
    }
    .card-image {
        position: absolute;
        bottom: 50%;
        left: 75%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 460px;
        width: 400px;
        border: 2px solid gray;
        background: linear-gradient(135deg, #87CEEB, #F5FFFA);
        transition: 0.5s;
    }
    .card:hover .card-image{
      bottom: -30%;
    }
    img {
        height: 500px;
        width: 330px;
    }
    .navbar_box {
        width: 50%;
        margin-left: 10px;
    }
    .card-body-container {
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .likes_comments {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    .blog_buttons_container {
        display: flex;
        margin-top: 35px;
    }
    .blog_buttons_container a {
        width: 125px;
        height: 50px;
        margin: 2px !important;
        text-align: center;
    }
    .blog-text {
        color: white !important;
    }
    .post-text {
        text-align: center;
    }
    .blog-tag {
        color: #0071de !important;
    }
    .view_post_button {
        text-align: center;
        font-size: 24px;
        margin-top: 55px;
        width: 325px;
    }
    .blog_buttons_container :nth-child(1) {
        background-color: rgba(255, 0, 0, 0.787);
        color: white;
    }
    .blog_buttons_container :nth-child(2) {
        background-color: greenyellow;
    }
    .blog_buttons_container :nth-child(3) {
        background-color: dodgerblue;
    }

    .img-card {
        height: 30px;
        width: 30px;
    }
</style>

<br/>

<div class="contianer-fluid">
    {% if user.is_authenticated %}
        <div class="navbar_box">
            <a href="/home" class="paper-btn btn-info">Home</a>
            <a href="{% url 'journal' %}" class="paper-btn btn-info">Your Journal</a>
            <a href="/create_post" class="paper-btn btn-info">Create Post</a>
            <a href="{% url 'logout' %}" class="paper-btn btn-info">Logout</a>
        </div>
    {% else %}
        <div class="navbar_box">
            <a href="/home" class="paper-btn btn-info">Home</a>
        </div>
    {% endif %}
</div>


<br>
<div class="container test_container" >
    <div class="card header_container">
        <h4 class="card-title" style="color: #000;">Search For Achievements by Tag</h4>
        <form action="/search">
            <div class="row flex-middle">
                <div class="col search_container">
                    <input class="search-input" type="text" name="tags" id="paperInputs2" placeholder="Search by Tags" style="color: #000; font-size: 18px;">
                    <button type="submit" class="paper-btn btn-primary search-button" value="Primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

 <div class="container-fluid my-container"> 
     <div class="row flex-center carousel">
        {% for post in results %}
        <div class="card carousel-item card_container card-box">
         
       
       
                <div class="card-body card-body-container">
                    <h3 class="blog-text">{{ post.title|truncatechars:15}}</h3>
                    <h5 class="card-subtitle">By: {{ post.author }}</h5>
                    <h5 class="card-subtitle">Created: {{post.list_date| timesince}} ago</h5>
                    <br>
                    <p class="post-text blog-text">{{post.body|truncatechars:30}}</p>
                    {% if post.author.id  != request.user.id %}
                        <p class="blog-tag blog-text">Tag: {{post.tags}}</p>
                        <div class="likes_comments">
                            <p class="blog-text"><i class="fas fa-hand-spock"></i> Likes: {{post.likes}} </p>
                            <p class="blog-text">Comments: {{post.comments.count}} </p>
                        </div>
                        <a class="paper-btn view_post_button" href="/article/{{post.id}}" >View Post</a>
                    {% else %}
                    <p class="blog-tag blog-text">Tag: {{post.tags}}</p>
                    <div class="likes_comments">
                        <p class="blog-text"><i class="fas fa-hand-spock"></i> Likes: {{post.likes}} </p>
                        <p class="blog-text">Comments: {{post.comments.count}} </p>
                    </div>
                    <div class="blog_buttons_container">
                        <a class="paper-btn" popover-top=" ARE YOU SURE❓" href="/delete_post/{{post.id}}">Delete</a>
                        <a class="paper-btn"  href="/edit_post/{{post.id}}">Edit Post</a>
                        <a class="paper-btn" href="/article/{{post.id}}" >View Post</a>
                    </div>
                    {% endif %}
                    <div class="card-image">
                        {% if post.blog_image %}
                            <img
                            src="{{post.blog_image.url}}"
                            alt="Blog Image" />
                        {% endif %}
                    </div>
                </div>

                <!-- </a> -->

                </div>
        {% endfor %}

        
            
            <div class="swiper-pagination"></div>
        </div>
    </div>   
    

</div><!--Carousel Container-->

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>    
    $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>
{% endblock %}




