{% load static %}
<link rel="stylesheet" href="{% static 'authentication/custom.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

     <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <title>Journal</title>
  </head>

  <body>

<div class="navbar_box">
    <a href="/" class="paper-btn btn-info">Home</a>
</div>

<p> Whoops! 500 Error</p>
<p> 500 Error</p>

<div class="container">
 <img
   src="{% static 'authentication/500.jpg' %}"
   width="900"
   height="10"
   alt="500 Logo" /> 
</div>

</body>
</html>