{% load static %}
<link rel="stylesheet" href="{% static 'authentication/custom.css' %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

     <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <title>Journal</title>
  </head>
  <body> 

<div class="container">
<div>
  {% if user.is_authenticated %} {% csrf_token %}
  <button type="button"><a href="{% url 'journal' %}">Your Journal</a></button>
  <button  type="button"><a href="">Blog</a></button>
  <button action="/logout/" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
</div>

<h1>Hi {{ user|capfirst }} Welcome 🤗 !!!</h1>

{% else %}


<div>
  <button  type="submit"><a href="{% url 'register' %}">Register</a></button>
  <button type="submit"><a href="{% url 'login' %}">Login</a></button>
  <button  type="button"><a href="">Check out Blogs</a></button>
</div>
  <h2> Welcome! </h2>
  <h4> Thanks For Landing Here!!! 🥊 READYYYYYYY To Bullet JOURNALLLLLLL 🥊 </h4>
  {% endif %}

<div class="row flex-center">
  <div class="sm-4 col"><b>Your Personal Bullet Journal!</b><br/>
  Uses. Bullet journal, or bullet journaling, 
  is a creative way to schedule your day, week, month, or year.
   A bullet journal is also used to keep track of what you have done or what you haven't.
   Yasss, stay on top of your academics and track mental health-related ideas.
   {% if user.is_authenticated %}<h2> We hope You are enjoying the site!</h2>{% endif %}
   <h5>The Creaters: <br/> Matthew Morris, Tim La, Wes, Stephanie Guirand</h5>
  </div>
  <div class="sm-4 col"><img
  src="{% static 'authentication/Untitled design.jpg' %}"
  width="500"
  height="10"
  alt="BJM Logo" /> 
  </div>
</div>

</div>
</body>
</html>