<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

     <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <title>Journal</title>
  </head>

  <style>
    .tables_container {
      width: 50vw;
    }
    .container {
      border: 1px solid black;
    }
    .profile_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .reflection_container {
      margin-top: 10px;
    }
    .reflection_buttons {
      display: flex;
    }
    .reflection_buttons a {
      text-align: center;
      width: 200px;
    }
    .row {
      display: flex;
    }
    .first_col {
      width: 45%;
    }
    .second_col {
      width: 55%;
    }
    .profile_buttons {
      display: flex;
    }
    .collapsible {
      width: 30rem;
    }
    .completed_tasks td {
     text-decoration: line-through;
    }
    .navbar_box {
      display: flex;
      justify-content: center;
    }
    .navbar_box a {
      text-align: center;
      width: 150px;
    }
    td a {
      text-align: center;
      width: 125px;
    }
  </style>

  <body>  

  <div class="">
    <div class="row">
      <div class="col first_col">

    
          <div class="card user_card" style="width: 30em; height: 15rem">
            <div class="card-body card_body_contain">

          <div class="navbar_box">
              <a href="/" class="paper-btn btn-info">Home</a>
              <a href="" class="paper-btn btn-info">Blog</a>
              <a href="{% url 'logout' %}" class="paper-btn btn-info">Logout</a>
          </div>

              <div class='profile_container'>
                  <h3>{{user.username}}'s Journal</h3>
                  
                  <div class="profile_buttons">
                    <a href="/add_assignment/" class="paper-btn btn-secondary">Add Assignment</a>
                    <a href="/add_reflection/" class="paper-btn btn-secondary">Add Reflection</a>
                  </div>
              </div>
            </div>
          </div>
          <br>

          {% for post in reflection %}
          <div class="collapsible">
            <input id=collapsible{{post.id}} type="checkbox" name="collapsible">
            <label for=collapsible{{post.id}}>{{post.title}}</label>
            <div class="collapsible-body">
              <div class="reflection_container">
                <div class="card" style="width: 28rem;">
                      <div class="card-body">
                        {%if post.name_post == True %}
                        <h4 class="card-title">Morning Reflection</h4>
                         {%else%}
                        <h4 class="card-title">Evening Reflection</h4>
                          {% endif %}
                        <h5 class="card-subtitle">{{post.submission_time}}</h5>
                        <p class="card-text">{{post.content}}</p>
                        <!-- <div class=reflection_buttons>
                          <a href="" class="paper-btn btn-secondary">Update</a>
                          <a href="" class="paper-btn btn-danger">Delete</a>
                        </div> -->
                      </div> 
                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        
        </div><!--col-->

      <div class="col second_col ">
         <div class="tables_container">
            <table class="table table-striped table-info">
              <thead class="thead-info">
                <tr>
                  <th scope="col"'>Assignment</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type</th>
                  <th scope="col">Date Field</th>
                  <th scope="col">Update Ticket</th>
                </tr>
              </thead>
              <tbody>
                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "New" %}
                <tr>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                    <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}

                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "Lesson" %}
                <tr>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                      <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}

                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "Activity" %}
                <tr>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                    <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}

                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "Quiz" %}
                <tr>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                    <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}

                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "Assessment" %}
                <tr>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                    <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}

                {% for assignment in assignments %} 
                {% if assignment.assignment_type == "Completed" %}
                <tr class='completed_tasks'>
                  <td>{{assignment.title}}</td>
                  <td>{{assignment.description}}</td>
                  <td>{{assignment.assignment_type}}</td>
                  <td>{{assignment.date_filed}}</td>
                  <td>
                    <a href="/assignment_detail/{{assignment.id}}/" class="paper-btn btn-info-outline">Update</a>
                  </td>
                </tr>
                {%endif%} 
                {% endfor %}
              </tbody>
            </table>
          </div><!--Table Container-->
      </div><!--Col-->


    </div>
  </div>

  </body>
</html>